<h1><span class="blue">W</span><span class="red">o</span><span class="yellow">r</span><span class="blue">d</span> <span class="green">C</span><span class="red">o</span><span class="yellow">u</span><span class="blue">n</span><span class="red">t</span></h1>
<p>Enter a phrase and a target word, then click "Count!" to see how many times the target word appears in the phrase.</p>
<form action="/word_count">
  <div class="form-group">
    <input id="phrase" name="phrase" class="form-control" placeholder="Phrase">
  </div>
  <div class="form-group">
    <input id="target" name="target" class="form-control" placeholder="Target Word">
  </div>
  <div>
    <label>
      <input type="radio" name="option" value="full" checked>
      Only recognize matches on full words
    </label>
    <label>
      <input type="radio" name="option" value="partial">
      Recognize matches in parts of words
    </label>
  </div>
  <button type="submit" class="btn">Count!</button>
</form>
