<h1>Word Count</h1>
<h2>Enter a phrase and a target word, then click submit to see how many times the target word appears in the phrase</h2>
<h3>Option 1: Option 2:</h3>
<form action="/word_count">
  <div class="form-group">
    <input id="phrase" name="phrase" class="form-control" placeholder="Phrase">
  </div>
  <div class="form-group">
    <input id="target" name="target" class="form-control" placeholder="Target Word">
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="option" value="full" checked>
      Recognize matches only as full words
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="option" value="partial">
      Recognize matches in parts of words
    </label>
  </div>
  <button type="submit" class="btn btn-success">Count!</button>
</form>
