<h1><span class="blue">W</span><span class="red">o</span><span class="yellow">r</span><span class="blue">d</span> <span class="green">C</span><span class="red">o</span><span class="yellow">u</span><span class="blue">n</span><span class="red">t</span></h1>
<h3>The phrase <span class="blue">"<%= @phrase %>"</span> includes <span class="green">"<%= @target %>"</span> exactly <span class="red"><%= @count %></span> time(s).</h3>
